In [337]:
import numpy as np
import pandas as pd
import seaborn as sns

In [338]:
df = sns.load_dataset("dataset/MPG")
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [339]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [340]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [341]:
df.shape

(398, 9)

In [342]:
df.sample(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
301,34.2,4,105.0,70.0,2200,13.2,79,usa,plymouth horizon
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
76,18.0,4,121.0,112.0,2933,14.5,72,europe,volvo 145e (sw)
210,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii
93,14.0,8,318.0,150.0,4237,14.5,73,usa,plymouth fury gran sedan
157,15.0,8,350.0,145.0,4440,14.0,75,usa,chevrolet bel air
369,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
245,36.1,4,98.0,66.0,1800,14.4,78,usa,ford fiesta
227,19.0,6,225.0,100.0,3630,17.7,77,usa,plymouth volare custom
79,26.0,4,96.0,69.0,2189,18.0,72,europe,renault 12 (sw)

In [343]:
df['name'].value_counts()

ford pinto             6
toyota corolla         5
amc matador            5
ford maverick          5
chevrolet chevette     4
                      ..
chevrolet monza 2+2    1
ford mustang ii        1
pontiac astro          1
amc pacer              1
chevy s-10             1
Name: name, Length: 305, dtype: int64

In [344]:
df.drop(['name'],axis=1,inplace=True)

In [345]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa

In [346]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [347]:
X = df.drop(['mpg'] , axis=1)

In [348]:
X

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,8,307.0,130.0,3504,12.0,70,usa
1,8,350.0,165.0,3693,11.5,70,usa
2,8,318.0,150.0,3436,11.0,70,usa
3,8,304.0,150.0,3433,12.0,70,usa
4,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,usa
394,4,97.0,52.0,2130,24.6,82,europe
395,4,135.0,84.0,2295,11.6,82,usa
396,4,120.0,79.0,2625,18.6,82,usa
397,4,119.0,82.0,2720,19.4,82,usa

In [349]:
Y = df[['mpg']]

In [350]:
Y

      mpg
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
393  27.0
394  44.0
395  32.0
396  28.0
397  31.0

[398 rows x 1 columns]

In [351]:
X_train,X_test,Y_train,Y_test = train_test_split(X , Y , test_size=0.2 , train_size=0.8)

In [352]:
X_train.shape

(318, 7)

In [353]:
X_test.shape

(80, 7)

In [354]:
Y_train.shape

(318, 1)

In [355]:
Y_test.shape

(80, 1)

In [356]:
tr = ColumnTransformer(transformers=[
    ('t1',SimpleImputer(),['horsepower']),
    ('std',StandardScaler(),['weight']),
    ('t2',OrdinalEncoder(categories=[['usa','europe','japan']]),['origin'])
] , remainder='passthrough')

In [357]:
tr

ColumnTransformer(remainder='passthrough',
                  transformers=[('t1', SimpleImputer(), ['horsepower']),
                                ('std', StandardScaler(), ['weight']),
                                ('t2',
                                 OrdinalEncoder(categories=[['usa', 'europe',
                                                             'japan']]),
                                 ['origin'])])

In [358]:
A = tr.fit_transform(X_train)

In [359]:
A

array([[ 1.00000000e+02,  9.00002176e-01,  0.00000000e+00, ...,
         2.50000000e+02,  1.70000000e+01,  7.40000000e+01],
       [ 9.80000000e+01,  6.06474765e-01,  0.00000000e+00, ...,
         2.50000000e+02,  1.90000000e+01,  7.70000000e+01],
       [ 1.35000000e+02,  9.56185157e-01,  0.00000000e+00, ...,
         3.18000000e+02,  1.52000000e+01,  7.90000000e+01],
       ...,
       [ 9.50000000e+01, -1.05558526e-01,  0.00000000e+00, ...,
         1.98000000e+02,  1.60000000e+01,  7.30000000e+01],
       [ 6.50000000e+01, -1.17074198e+00,  2.00000000e+00, ...,
         8.60000000e+01,  1.52000000e+01,  7.90000000e+01],
       [ 8.60000000e+01, -8.89827078e-01,  0.00000000e+00, ...,
         1.22000000e+02,  1.40000000e+01,  7.10000000e+01]])

In [360]:
B  = tr.fit_transform(X_test)

In [361]:
B.shape

(80, 7)

In [362]:
from sklearn.linear_model import LinearRegression

In [363]:
lr = LinearRegression()

In [364]:
lr.fit(A,Y_train)

LinearRegression()

In [365]:
lr.predict(B)

array([[27.58158756],
       [31.23305236],
       [26.93784068],
       [22.31285147],
       [19.31083062],
       [35.14518735],
       [22.84162524],
       [31.29699737],
       [20.06845505],
       [14.98297926],
       [24.48510739],
       [23.55531383],
       [29.36776196],
       [25.21966675],
       [13.39007257],
       [24.76845426],
       [30.98270818],
       [26.65427302],
       [25.88153598],
       [28.97338934],
       [22.87810101],
       [ 9.14226155],
       [12.21727529],
       [21.65950308],
       [16.82674936],
       [34.66358353],
       [17.78406601],
       [12.71391459],
       [28.76125629],
       [26.94117301],
       [15.96077436],
       [20.95673426],
       [35.23505201],
       [28.62886414],
       [29.85861764],
       [26.23529458],
       [32.77572553],
       [23.65608701],
       [21.9648284 ],
       [23.51288186],
       [17.86084698],
       [24.74220545],
       [37.5096757 ],
       [29.15212393],
       [31.22535784],
       [17.54932046],
       [25.83940593],
       [18.22909201],
       [14.4226191 ],
       [20.68802923],
       [20.26979005],
       [35.42170333],
       [27.51462623],
       [32.79397044],
       [13.58638823],
       [ 9.06368782],
       [23.58775433],
       [24.70942014],
       [24.71896129],
       [ 8.3357101 ],
       [ 7.17734169],
       [28.39998729],
       [20.22025738],
       [28.49761911],
       [29.19984232],
       [26.54631384],
       [30.35262008],
       [20.17493793],
       [31.62467759],
       [26.48030429],
       [12.83519401],
       [18.83823381],
       [37.36872583],
       [34.11547614],
       [27.44783243],
       [14.34907401],
       [18.00111017],
       [22.3839851 ],
       [21.46354398],
       [25.85553296]])

In [366]:
lr.score(A,Y_train)

0.8193911831699154

In [367]:
lr.score(B,Y_test)

0.8307352068134577