#                                CONNECT PYTHON WITH DATABASE

# IMPORT MYSQL CONNECTOR

In [1]:
import mysql.connector as con

# CONNECTION TO DATABASE

In [4]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root"
)
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029ABC9990A0>

# CREATE A DATABASE

In [ ]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root"
)
my_cursor=new_db.cursor()
my_cursor.execute("CREATE DATABASE college13")

# CHECK DATABASE CREATED?

In [2]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root"
)
my_cursor=new_db.cursor()
my_cursor.execute("SHOW DATABASES")
for n in my_cursor:
    print(n)

('bank',)
('college',)
('college13',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# USING DATABASES CREATE TABLES

In [6]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college13"
)
my_cursor=new_db.cursor()
my_cursor.execute("CREATE TABLE student13(rollno int,name varchar(100))")

In [8]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college13"
)
my_cursor=new_db.cursor()
my_cursor.execute("CREATE TABLE teacher13(tname varchar(100),tno int)")

# LIST ALL THE TABLES IN CREATED DATABASE

In [9]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college13"
)
my_cursor=new_db.cursor()
my_cursor.execute("SHOW TABLES")
for table in my_cursor:
    print(table)

('student',)
('student13',)
('teacher13',)

# INSERTING RECORS INTO THE TABLES

In [18]:
#using input() method

query="INSERT INTO student13 (rollno, name) VALUES (%s, %s)"
a=int(input("Enter roll number : "))
b=input("Enter name : ")
values=(a,"b")
my_cursor.execute(query,values)
new_db.commit()
print(my_cursor.rowcount, "new record inserted")

Enter roll number : 3
Enter name : sachin
1 new record inserted

In [19]:
query="INSERT INTO student13 (rollno, name) VALUES (%s, %s)"
values=("4","akshay")
my_cursor.execute(query,values)
new_db.commit()
print(my_cursor.rowcount, "new record inserted")

1 new record inserted

# INSERTING MULTIPLE RECORDS INTO TABLE

In [9]:
query="INSERT INTO student13 (rollno, name) VALUES (%s, %s)"
values= [("5","pradyumn"),
         ("6","darshan")]
my_cursor.executemany(query,values)
new_db.commit()
print(my_cursor.rowcount, "new record inserted")

2 new record inserted

# DISPLY THE RECORDS FROM TABLE

In [7]:
my_cursor=new_db.cursor()
query2="SELECT * FROM student13"
my_cursor.execute(query2)
for a in my_cursor:
    print(a)

(1, 'gurunath')
(2, 'b')
(3, 'b')
(4, 'akshay')
(5, 'pradyumn')
(6, 'darshan')
(7, 'arun')
(8, 'praveen')

# DISPLAY PERTICULAR RECORD FROM DATABASE

In [6]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college13"
)
my_cursor=new_db.cursor()
my_cursor=new_db.cursor()
query2="SELECT name FROM student13"
my_cursor.execute(query2)
for a in my_cursor:
    print(a)

('gurunath',)
('b',)
('b',)
('akshay',)
('pradyumn',)
('darshan',)
('arun',)
('praveen',)